<!DOCTYPE html>
<html>
  <head>
    <title>Weatherman</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container mx-auto mt-10 px-5 flex flex-col">
      <!-- Header -->
      <div class="w-full">
        <h1 class="font-bold text-gray-700 text-2xl tracking-light text-center drop-shadow-md mb-10">Weather Forecast Services™️</h1>
      </div>

      <%= yield %>


    </main>
  </body>
</html>
